spring:
  application:
    name: courses-platform

  datasource:
    url: jdbc:mysql://localhost:3306/courses_db
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

server:
  port: 8080
